{% extends 'main.html' %}
{% load static %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <!-- Main Section -->
    <div class="auth">
        <div class="card">
            <div class="auth__header text-center">
                <a href="{% url 'profiles' %}">
                    <img src="{% static 'images/icon.svg' %}" alt="icon"/>
                </a>
                <h3>Forget Password?</h3>
                <p>Reset password by entering the email address</p>
            </div>

            <form class="form auth__form" method="post">
                {% csrf_token %}
                {% for field in form %}
                <!-- Input:Email -->
                <div class="form__field">
                    <label for="formInput#email">Email Address: </label>
                    {{ field }}
                </div>
                {% endfor %}
                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value="Send Instructions"/>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </form>
            <div class="auth__alternative">
                <p>Don’t have an Account?</p>
                <a href="{% url 'register' %}">Sign Up</a>
            </div>
        </div>
    </div>
{% endblock %}