{% extends 'main.html' %}
{% load static %}

{% block title %}Set new password{% endblock %}

{% block content %}
    <!-- Main Section -->
    <div class="auth">
        <div class="card">
            <div class="auth__header text-center">
                <a href="{% url 'profiles' %}">
                    <img src="{% static 'images/icon.svg' %}" alt="icon"/>
                </a>
                <h3>Enter new password</h3>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            </div>

            <form class="form auth__form" method="post">
                {% csrf_token %}
                {% for field in form %}
                <!-- Input:Email -->
                <div class="form__field">
                    <label for="formInput#email">Email Address: </label>
                    {{ field }}
                </div>
                {% endfor %}
                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value="Change my password"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}